main{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.createAccountForm{
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 18em;
    height: 14em;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    font-weight: bold;
}
.createAccountBtn{
    margin-top: 1em;
    padding: 0.7em;
    font-weight: bold;
}
@media screen and (min-width:800px){
}