/* mobile first */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
}
.nav-list{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: rgb(221, 221, 242, 0.95);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 5em;
    margin-top: 5em;
}
a{
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}
.nav-list li a{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    color: black;
}
.nav-list.active{
    transform: translate(0);
}
.close-btn-nav-list{
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-radius: 100%;
    padding: 7px;
    position: absolute;
    top: 20px;
    right: 25px;
}
.menu{
    width: 50px;
    height: 50px;
}
.shopping-cart{
    height: 50px;
    width: 50px;
}
.brand-title{
    border: 2px solid black;
    border-radius: 100%;
    padding: 6px;
}
.title{
    text-align: center;
}
.shopping-list{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100vw;
    background-color: rgb(221, 221, 242, 0.95);
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
}
.shopping-list.available{
    transform: translate(0);
}
.shopping-list-ul{
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.shopping-cart-item{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
}
.close-btn-item-list{
    height: 25px;
    width: 25px;
}
.close-btn-shopping-cart{
    border-radius: 100%;
    padding: 7px;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    margin: 20px 0 0 20px;
}
.alter-amount-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 5px;
    width: 5px;
    background-color: transparent;
    border-radius: 15px;
    font-size: 30px;
}
.remove-amount-btn-content{
    padding-bottom: 5px;
}
.product-name{
    font-size: 15px;
    word-break: break-word;
}