.form-index{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 20px;
}
.input-index{
    padding-left: 15px;
    height: 40px;
    border-radius: 5px;
}
.index-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn{
    height: 50px;
    width: 50%;
}

@media screen and (min-width: 800px){
    .content{
        display: flex;
        align-items: center;
        width: 100%;
        height: 90vh;
    }
    .form-index{
        width: 100%;
        border: 1px solid black;
        padding: 2em 5em;
        border-radius: 20px;
    }
    .form-header{
        width: 50%;
        height: 40%;
    }
    .input-index{
        width: 100%;
    }
    .index-btn{
        margin-left: 15px;
    }
    .title-index{
        margin-bottom: 10em;
    }
    .brand{
        border: 1px solid black;
        border-radius: 100%;
        padding: 1em;
    }
}