.slider{
    margin: 0 auto;
    height: 130px;
    overflow: hidden;
}
.label-image{ 
    max-width: none;
    max-height: none;
}
.slides{
    margin-top: 1em;
    width: 500%;
    height: 120px;
    display: flex;
}
.slides input{
    display: none;
}
.slide img{
    width: 400px;
}
.manual-navigation{
    position: absolute;
    width: 100%;
    display: flex;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}
.manual-btn:not(:last-child){
    margin-right: 10px;
}
